$font-head:  'Montserrat', sans-serif;
$font-body:  'Lato', sans-serif;
$darkBlue-color: #2c314f;
$cyanLink-color: #7acdcf;
$lightGray-color: #efeee9;
$gray-color:#aaaaaa;
$black-color: #1b1d28;


html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

h4 {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
}

body {
    font: $font-body;
}

.logo { 
   display: block;
   align-items: left;
}

.nav-wrapper {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    min-width: 20%;
    background-color: $darkBlue-color;
    overflow-x: hidden;
    padding: 32px 48px 64px 48px;
}

.navbar-brand {
    display: block;
    color: $cyanLink-color;
    font-size: 12px;
    letter-spacing:.1rem;
    margin-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand a:hover {
    color: $cyanLink-color;
}

.main-img {
    margin-left: auto;
    margin-right: auto;
}

.form-check-label {
    color: $gray-color;
}

.form-input {
    width: 100%;
    height: auto;
    background-color: $lightGray-color;
    white-space: initial;
    padding: .1rem .7rem;
}

.user {
    font-family: $font-head;
    color: $darkBlue-color;
    opacity: .3;
    font-size: 48px;
    line-height: 42px;
    color: white;
    margin: 1rem 0 .5rem 0;
    padding-bottom: .3em;
}

.btn-small {
    border-radius: 1.5rem;
    background-color: $gray-color;
    padding: .2rem .7rem;
    color: white;
    font-size: .5rem;
    float: right;
    text-transform: uppercase;
}

.btn-small:hover {
    background-color: white;
    border-style: 2px solid $gray-color;
    color: $gray-color;
}

.btn-small:disabled {
    border-radius: 1.5rem;
    background-color: $gray-color;
    padding: .1rem .7rem;
    color: white;
    font-size: .6em;
    float: right;
    text-transform: uppercase;
 }

.message-Container {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    background-color: $lightGray-color;
    overflow-x: hidden;
    padding: 64px 64px 32px 64px;
}

.message-header {
    display: block;
    padding-bottom: 3em;
}

.newMessage {
    font-size: .8em; 
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

button.delete {
    border-radius: 6px;
    line-height: .1rem;
    background-color: $gray-color;
    color: $lightGray-color;
    font-size: 7px;
    float: right;
    padding: 8px 7px 8px 7px;
}

.userTime {
    font-size: .8em;
}






